{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <script>
      lista_pontos = {{ lista_pontos|safe }};
    </script>

    <div class="fundo">
        <div class="col-lg-8 col-lg-offset-2">
            <nav class="navfilter">
                <div class="container-fluid" >
                    {% crispy filter.form %}
                </div>
            </nav>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Estatísticas</h3>
                </div>

                <div class="panel-body">

                </div>
            </div>
        </div>

    </div>
{% endblock %}