{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
    <script>
      lista_pontos = {{ lista_pontos|safe }};
    </script>
    <script src="{% static 'js/heatmap.js' %}"></script>
     <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFa80Y91O2_dHX-P-2LybXs0E5K4bxB0k&libraries=visualization&callback=initMap">
    </script>

    <div class="fundo">
        <div class="col-lg-8 col-lg-offset-2">
            <nav class="navfilter">
                <div class="container-fluid" >
                    {% crispy filter.form %}
                </div>
            </nav>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Estatísticas</h3>
                </div>

                <div class="panel-body">
                    <div id="map"></div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}