{% extends "base.html" %}

{% block content %}
    <div class="fundo">
        <div class="col-lg-5 col-lg-offset-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="login">Sobre</h3>
                </div>
                <div class="panel-body">
                    <h4 class="sobre">Reclame é um sistema onde você pode fazer reclamações sobre os serviços
                        públicos básicos de saúde, segurança, educação e transporte. Nessa plataforma
                        você escolhe a categoria sobra a qual deseja realizar uma reclamação, escolhe
                        uma categoria e descreve o problema.
                    </h4>
                    <h4 class="sobre">
                        A partir das categorias você tem acesso a um mapa que contém as estatísticas
                        de reclamação por serviço nas regiões do Distrito Federal. A partir das
                        estatísticas, pode-se retirar informações sobre a qualidade do serviço prestado
                        e determinar em qual região do Distrito Federal a prestação de tal serviço é mais
                        crítica, ou seja, necessita de investimento.
                    </h4>
                </div>
            </div>
        </div>

    </div>
{% endblock %}